<%- include("header"); %> 

    <section id="title">

        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand home-navbar" href="#">NodeBlog</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link home-navbar" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home-navbar" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link home-navbar" href="/allposts">Posts</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="title-text-img">
            <img class="title-img" src="img/title-img.jpg" alt="title-img">
            <h1 class="title-text">
                NodeBlog
            </h1>
            <h2 class="subtitle-text">
                A Node.js Blog,<br> coded and authored by Will Oliver
            </h2>
        </div>

    </section>

    <section id="posts">

        <div>
            <% for (var i = 0; i < blogPosts.length; i++) { %> 
                <h3 class="post-title"><%= blogPosts[blogPosts.length - 1 - i].title %> </h3>
                <form action="/posts" method="post">
                    <p class="post-body">
                        <%=  blogPosts[blogPosts.length - 1 - i].body.substr(0, 300) %><a class="read-more" href="posts/<%= blogPosts[blogPosts.length - 1 - i]._id %>"> ... read more</a>
                    </p>
                </form> 
            <% } %> 
        </div>

    </section>

<%- include("footer") %> 